@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
rect {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}
@keyframes expand {
  0% {
    /* width: 50%; */
  }
  25% {
    /* width: 100%;   */
    /* background-color: red; */
    /* transform: scaleX(3); */
    
    
  }
  50% {
    /* width: 50%; */
    /* background-color: blue; */
    transform: scaleX(1);
    
    /* transform: translateX(100%); */
  }
  75% {
    /* width: 100%; */
    /* background-color: red; */
    transform: scaleX(3);

    /* transform: scaleX(300%); */
  }
  100% {
    /* width: 50%; */
    /* background-color: green; */
    /* transform: translateX(100%); */
    border: 1px solid red;
  }
}

.animate-grow {
  animation: expand 10s linear infinite;
}
